@charset "utf-8";
/* CSS Document */


.active > a{
	color:#306;
	background-color:white;
}

.nav-sidebar{
	font-weight:bold;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	background-color:#306;
}

.non-active > a{
	color:#eee;
}

.non-active > a:hover{
	color:#306;
}

