@charset "utf-8";
/* CSS Document */
.row{
	padding-top:55px;
}

.sidebar{
	background-color:#306;
	padding-bottom:300px;
	color:white;
}

.active > a{
	color:#306;
	background-color:white;
	width:208.182px;
}

a.sidebar{
	color:#428bca;
}

a.sidebar:hover{
	color:black;
}

.nav-sidebar{
	font-weight:bold;
	font-size:22px;
	font-family:"Times New Roman", Times, serif;
}

.nav-sidebar:hover{
	width:208.182px;
}

