@charset "utf-8";
/* CSS Document */
.row{
	padding-top:55px;
}

.sidebar{
	background-color:#339;
	padding-top:20px;
}

.active a{
	font-weight:bold;
	font-size:22px;
	color:#CCC;
	font-family:"Times New Roman", Times, serif;
}

.nav-sidebar{
	color:#339;	
	line-height:350%;
}

