@charset "UTF-8";
/* CSS Document */
#logo{
	width:150px;
	margin:5px;
}

.login{
	margin:15px 20px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:18px;
}

#footer{
	text-align:center;
	background-color:black;
	color:white;
}